@import url('https://fonts.googleapis.com/css2?family=Inter');

body {
  font-family: "Inter";
  margin: 0px;
  padding: 0px;
}


.main-content{
  background: #282D35;
  z-index: -1;
}
.navbar{
  display: flex;
  background: #21222A;
  margin: 0px;
  padding: 25px;
  align-items: center;

}

.nav-project-name{
   color: #DEEBF8;
}

.nav-image{
  width: 30px;
  margin-right: 7px;
}

.nav-logo-text{
  margin-right: auto;
  color:#61DAFB;
}

.facts-topic{
  color: #FFFFFF;
  padding: 25px;
  margin: 0px;

}

.fun-facts-list{
  color: #FFFFFF;
  padding: 25px;
  margin: 25px;
  margin-left: 50px;
}
.main-image{
  z-index: 0;
  width: 200px;
  position: absolute;
  left: auto;
  right: -100px;
  bottom: 0px;
  top: 128px;
}
